<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to the Game Base!</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <body>
    <nav>
      <a href="/">HOME</a> | <a href="/games/all">GAME BOARD</a> | <a href="/games/new">ADD A GAME</a>
    </nav>
    <h1><%= title %></h1>
    <p>GAME ON!</p>