<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">HOME</a> | <a href="/games/all">GAME BOARD</a> | <a href="/games/new">ADD A GAME</a>
    </nav>
    <h1><%= title %></h1>
    <p>GAME ON! <%= title %></p>
  </body>
</html>